{% extends 'main/layout.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
    <section class="about-page">

        <h2 class="text-center mb-5">Добро пожаловать в FitZone - ваш фитнес-клуб мечты! </h2>

        <div class="container">
            <ul class="jystify-content-center align-items-center text-dark">
                <li class="mb-4"><h5>Мы стремимся помочь каждому нашему клиенту достигнуть своих целей в области
                    здоровья и фитнеса.</h5></li>

                <li class="mb-4"><h5>Наша
                    команда профессиональных тренеров и инструкторов всегда готова помочь вам разработать индивидуальную
                    программу тренировок, которая отвечает вашим потребностям и целям.</h5></li>

                <li class="mb-4"><h5>Мы предоставляем самое современное оборудование, что позволяет нашим клиентам
                    наслаждаться максимально комфортным и эффективным опытом тренировок.</h5></li>

                <li class="mb-4"><h5>У нас также есть широкий выбор
                    групповых занятий, которые подходят для людей любого уровня подготовки.</h5></li>

                <li class="mb-4"><h5>Мы уделяем большое внимание качеству обслуживания, чтобы каждый клиент чувствовал
                    себя комфортно и уверенно в нашем клубе.</h5></li>

                <li class="mb-5"><h5>Наша команда всегда готова ответить на ваши вопросы и
                    помочь вам достичь лучших результатов.</h5></li>
            </ul>
            <h4 class="text-center"><strong>Будьте в форме, оставайтесь здоровыми и добро пожаловать в FitZone!</strong>
            </h4>
        </div>

    </section>
{% endblock %}