{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}

    <section class="policy">

        <h2 class="text-center mb-4">Политика конфиденциальности</h2>

        <div class="container">
            <div class="jystify-content-center align-items-center text-dark">

                <p class="mb-3">Конфиденциальность и безопасность данных нашего фитнес-клуба очень важны для нас. Мы
                    стремимся обеспечить наилучший уровень защиты данных наших клиентов и соблюдать все соответствующие
                    законы и нормы.</p>
                <p class="mb-4">Ниже представлены основные положения нашей политики конфиденциальности:</p>

                <h5><strong>1. Сбор и использование персональных данных</strong></h5>
                <ul class="mb-4">
                    <li><p>Мы собираем только те персональные данные, которые необходимы для оказания услуг нашего
                        фитнес-клуба.</p></li>
                    <li><p>Мы не раскрываем персональные данные наших клиентов третьим лицам без их явного согласия.</p>
                    </li>
                    <li><p>Мы используем персональные данные только в целях, для которых они были собраны.</p></li>
                </ul>

                <h5><strong>1.1 Сбор и использование информации о посещении сайта</strong></h5>
                <ul class="mb-4">
                    <li><p>Мы собираем информацию о посещении нашего сайта, в том числе IP-адрес, тип браузера, время
                        доступа и страницы, на которые вы переходите.</p></li>
                    <li><p>Мы используем эту информацию только в целях анализа и улучшения нашего сайта и услуг.</p>
                    </li>
                </ul>

                <h5><strong>2. Защита персональных данных</strong></h5>
                <ul class="mb-4">
                    <li><p>Мы принимаем все меры для обеспечения безопасности и защиты персональных данных наших
                        клиентов.</p></li>
                    <li><p>Мы используем только защищенные каналы связи для передачи конфиденциальной информации.</p>
                    </li>
                </ul>

                <h5><strong>3. Хранение персональных данных</strong></h5>
                <ul class="mb-4">
                    <li><p>Мы храним персональные данные наших клиентов только в течение необходимого времени,
                        необходимого
                        для выполнения услуг нашего фитнес-клуба.</p></li>
                    <li><p>После того, как персональные данные больше не нужны, мы удаляем их с наших серверов.</p></li>
                </ul>

                <h5><strong>4. Обновления политики конфиденциальности</strong></h5>
                <ul>
                    <li><p>Мы можем время от времени обновлять нашу политику конфиденциальности. Новая версия политики
                        будет опубликована на нашем сайте.</p></li>
                </ul>

            </div>
        </div>

    </section>

{% endblock %}